<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
    <header>
        <h1>{{comments.title}}</h1>
        <div>{{comments.points}} points | By {{comments.author}} | <a href={{comments.url}}>{{comments.url}}</a> </div>
    </header>
  <!-- <span>Hello</span> -->
  {% for comment in comments.children %}
  
    {% if comment.author != None %}
        <strong> {{comment.author}}:</strong>
        <div>
            {{comment.text|safe}}   
        </div>
    {%else%}
        <div>[deleted]</div>
    {%endif%} 
  
    <hr>
  {% endfor %}
</body>

</html>