<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search</title>
</head>
<body>
    <h1>Job Search</h1>
    <form action="/report" method="get">
        <input placeholder="What job do you want" required name="word2"/>
        <button>Search</button>
    </form>
    <!-- <form action="/" method="get">
        <input placeholder="What job do you want2" required name="word3"/>
        <button>Search</button>
    </form> -->
    
</body>
</html>